In [ ]:
WITH ranked_salaries AS (
  SELECT 
    e.salary,
    DENSE_RANK() OVER (ORDER BY e.salary DESC) as salary_rank
  FROM 
    employees e
  JOIN 
    departments d ON e.department_id = d.id
  WHERE 
    d.name = 'engineering'
)
SELECT salary
FROM ranked_salaries
WHERE salary_rank = 2
LIMIT 1